@import '../../styles/utils/mixins';

.slick {
  &-container {
    height: 400px;

    @include onTablet {
      height: 450px;
    }
  }

  &__soloSlider {
    &-item {
      display: flex !important;
      align-items: center;
      justify-content: center;

      .picture {
        width: 100%;
        object-fit: contain;
        max-height: 274px;
        height: inherit;

        @include onTablet {
          max-height: 370px;
        }

        @include onDesktop {
          height: 100%;
          max-height: 442px;
          max-width: 100%;
        }
      }
    }
  }

    &-list {
      grid-column: 2;
    }

    &__soloSlider {
      display: flex;
      flex-direction: column;
      height: 100%;

      @include onTablet {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-gap: 5px;
        //   display: flex !important;
        //   flex-direction: row-reverse;
      }
    }
  
    &__point {
      width: 43px;
      height: 43px;
      object-fit: contain;
    }

    &-dots {
      display: flex !important;
      flex-direction: row;
      align-items: center;
      bottom: 35px;
      justify-content: space-around;

      @include onTablet {
        grid-column: 1 / 2;
        flex-direction: column;
        justify-content: flex-start;
        top: 0px
      }

      .slick-active {
        opacity: 1;
      }

      & li {
        height: auto;
        width: 50px;
        border: solid 1px white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        opacity: 0.5;

        @include onTablet {
          margin-top: 8px;
        }
      }
    }
}