@import '../../styles/utils/mixins';

.phonesPage__priceSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--secondary-color);
  width: 100%;
  max-width: 288px;

  @include onTablet {
    align-items: start;
  }

  &-mobile {
    margin-bottom: 24px;
  }

  &-title {
    margin-bottom: 4px;
    position: relative;
    left: -128px;

    @include onTablet {
      position: static;
    }
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nothing {
    margin-top: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 40px;

    @include onTablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include onDesktop {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  &__page {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 24px;

    @include onTablet {
      margin-top: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background-color: var(--surface1-color);
    transition: background-color 0.2s;

    &:hover:not(.pagination__item--selected) {
      background-color: var(--pagination-hover);
    }

    &--selected {
      background-color: var(--accent-color);
    }

    &--disabled {
      background-color: transparent;
      border: 1px solid var(--surface1-color);
    }
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 12px;

    color: var(--white-color);
    text-decoration: none;

    &--selected {
      color: #F1F2F9;
    }
  }
}
