@import '../../styles/variables.scss';
@import '../../styles/utils/mixins';

html {
  background-color: #0f1121;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__items {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 40px;

    @include onTablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include onDesktop {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  &__page {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 24px;

    @include onTablet {
      margin-top: 40px;
    }

  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
    background-color: $surface1-color;

    &:hover:not(.pagination__item--selected) {
      background-color: $elements-color;
    }

    &--selected {
      background-color: $accent-color;
    }
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding: 4px 12px;

    color: $white-color;
    text-decoration: none;
  }
}
