@import '../../styles/variables.scss';
@import '../../styles/utils/mixins.scss';

.grid {
  display: grid;
  column-gap: 16px;
  grid-template-columns: none;

  @include onTablet {
    grid-template-columns: repeat($columns--tablet, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat($columns--desktop, 1fr);
  }

  &__item {
    @include onTablet {
      @for $start from 1 through $columns--tablet {
        @for $end from 1 through $columns--tablet {
          &--tablet_#{$start}-#{$end} {
            grid-column: #{$start} / #{($end + 1)};
          }
        }
      }
    }

    @include onDesktop {
      @for $start from 1 through $columns--desktop {
        @for $end from 1 through $columns--desktop {
          &--desktop_#{$start}-#{$end} {
            grid-column: #{$start} / #{($end + 1)};
          }
        }
      }
    }
  }
}

.shop-by-category {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__categories {
    row-gap: 32px;

    @include onTablet {
      row-gap: 0px;
    }
  }
}
