@import '../../styles/utils/mixins.scss';

.shop-by-category {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__categories {
    column-gap: 16px;
    row-gap: 32px;
    margin: 0;
    display: grid;

    @include onTablet {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 0px;
    }
  }
}
