@import '../utils/mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  margin: 0 16px;

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
    margin: 0 24px;
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 1fr);
    margin: 0 32px;
  }

  &__phone {
    grid-column: 1 / -1;
  }

  &--tablet {
    display: block;

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &-tablet--#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }

  &__item {
    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &-desktop--#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
