@import '../../styles/utils/mixins';


.favourites {
  &__total {
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--secondary-color);
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__card {
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 16px;
    row-gap: 40px;

    @include onTablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include onDesktop {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
