@import '../../styles/utils/mixins';

.about {
  @include max-block;

  &__title {
    position: relative;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--white-color);
    padding-bottom: 16px;
    margin-bottom: 32px;

    &::after {
      content: '';
      bottom: 0;
      width: 100%;
      position: absolute;
      background-color: #3b3e4a;
      height: 1px;
      display: block;
    }
  }

  &__content {
    margin-bottom: 56px;
  }

  &__small-title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--white-color);
    margin-bottom: 16px;
  }

  &__text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #75767f;
    margin-bottom: 32px;
    text-align: justify;
  }

  &__option {
    @include top-actions;
    margin-bottom: 8px;
  }

  &__option-name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #75767f;
    text-transform: capitalize;
  }

  &__option-content {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-color);
  }
}

.settings {
  @include max-block;

  &__container-colors {
    @include top-actions;
  }

  &__title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #75767f;
    margin-bottom: 9px;
  }

  &__colors {
    display: flex;
    gap: 9px;
    padding-bottom: 24px;
    border-bottom: 1px solid #3b3e4a;
    margin-bottom: 24px;
  }

  &__button-color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include square(32px);
    border-radius: 50%;
    background-color: #4a4d58;

    &--is-active {
      background-color: var(--white-color);
      pointer-events: none;
    }

    &:hover,
    &--is-active {
      @include square(33px);
      transform: scale(1.02);
      filter: contrast(1.1);
    }
  }

  &__color {
    border: 1px solid var(--black-color);

    @include square(30.5px);
    border-radius: 50%;

    cursor: pointer;

    &--is-active {
      background-color: var(--white-color);
      pointer-events: none;
    }

    &:hover,
    &--is-active {
      transform: scale(1.02);
      filter: contrast(1.1);
    }
  }

  &__capacities {
    display: flex;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid #3b3e4a;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__button-capacity {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 63px;
    height: 32px;
    border: 1px solid #4a4d58;
    padding: 8px;
    background-color: var(--black-color);
    color: var(--white-color);

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    cursor: pointer;

    &--is-active {
      background-color: var(--white-color);
      color: var(--black-color);
      pointer-events: none;
    }

    &:hover{
      background-color: rgba(200, 194, 194, 0.17);
      color: var(--black-color);
    }
  }

  &__add-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
  }

  &__add-current-price {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: var(--white-color);
  }

  &__add-prev-price {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #75767f;
  }

  &__add-buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__add-tablet {
    margin-bottom: 55px;

    @include onTablet {
      margin-bottom: 65px;
    }

    @include onDesktop {
      margin-bottom: 110px;
    }
  }
}

.title {
  @include max-block;
}

.slider {
  @include max-block;
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  @include max-block;

  &__id {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__arrow {
    margin-right: 14px;
    @include square(14px);
    margin-left: 10px;
    margin-bottom: 20px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }
}