@import '../../styles/variables.scss';
@import '../../styles/utils/mixins';

.about {
  @include max-block;

  &__title {
    position: relative;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--white-color);
    padding-bottom: 16px;
    margin-bottom: 32px;

    &::after {
      content: '';
      bottom: 0;
      width: 100%;
      position: absolute;
      background-color: #3b3e4a;
      height: 1px;
      display: block;
    }
  }

  &__content {
    margin-bottom: 56px;
  }

  &__small-title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--white-color);
    margin-bottom: 16px;
  }

  &__text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #75767f;
    margin-bottom: 32px;
    text-align: justify;
  }

  &__option {
    @include top-actions;
    margin-bottom: 8px;
  }

  &__option-name {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #75767f;
    text-transform: capitalize;
  }

  &__option-content {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: var(--white-color);
  }
}

.settings {
  @include max-block;

  &__container-colors {
    @include top-actions;
  }

  &__title {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #75767f;
    margin-bottom: 9px;
  }

  &__colors {
    display: flex;
    gap: 9px;
    padding-bottom: 24px;
    border-bottom: 1px solid #3b3e4a;
    margin-bottom: 24px;
  }

  &__button-color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include square(32px);
    border-radius: 50%;
    background-color: var(--white-color);

    &:hover,
    &:active {
      transform: scale(1.1);
      filter: contrast(1.3);
    }
  }

  &__color {
    border: 1px solid var(--black-color);

    @include square(30.5px);
    border-radius: 50%;

    cursor: pointer;

    &--black {
      background-color: black;
    }
    &--green {
      background-color: #5f7170;
    }
    &--yellow {
      background-color: #efff46;
    }
    &--white {
      background-color: var(--white-color);
    }
    &--purple {
      background-color: #905bff;
    }
    &--red {
      background-color: var(--red-color);
    }
    &--spaceblack {
      background-color: $black-color;
    }
    &--midnight {
      background-color: rgb(15, 15, 91);
    }
    &--silver {
      background-color: silver;
    }
    &--starlight {
      background-color: #fcdbc1;
    }
    &--spacegray {
      background-color: rgb(110, 114, 124);
    }
    &--sierrablue {
      background-color: rgb(94, 110, 134);
    }
    &--graphite {
      background-color: rgb(133, 130, 130);
    }
    &--blue {
      background-color: rgb(145, 148, 189);
    }
    &--pink {
      background-color: rgb(207, 138, 184);
    }
    &--gold {
      background-color: rgb(218, 211, 172);
    }
    &--midnightgreen {
      background-color: rgb(53, 69, 65);
    }
  }

  &__capacities {
    display: flex;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid #3b3e4a;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 32px;
    }
  }

  &__button-capacity {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 63px;
    height: 32px;
    border: 1px solid #4a4d58;
    padding: 8px;
    background-color: var(--black-color);
    color: var(--white-color);

    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:active {
      background-color: var(--white-color);
      color: var(--black-color);
    }
  }

  &__add-header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 16px;
  }

  &__add-current-price {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: var(--white-color);
  }

  &__add-prev-price {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #75767f;
  }

  &__add-buttons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__add-tablet {
    margin-bottom: 55px;

    @include onTablet {
      margin-bottom: 65px;
    }

    @include onDesktop {
      margin-bottom: 110px;
    }
  }
}

.title {
  @include max-block;

  margin-bottom: 40px;
}

.slider {
  @include max-block;
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  @include max-block;

  &__id {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: $secondary-color;
    margin-bottom: 40px;
  }

  &__arrow {
    margin-right: 14px;
    @include square(14px);
    margin-left: 10px;
    margin-bottom: 40px;
  }
}
