@import './utils/mixins';
@import './variables.scss';

@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont-Bold.otf);
  font-weight: 800;
}

@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont-Regular.otf);
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src: url(../fonts/Mont-SemiBold.otf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #75767f;
}

::-webkit-scrollbar-thumb {
  background: #313237;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
  overflow-y: scroll;

  transition: background-color 0.3s;
}

html {
  font-family: 'Mont', sans-serif;
}

main {
  padding-bottom: 360px;
  background-color: var(--bg-color);
  min-height: $heigth--main-tablet;

  @include onDesktop {
    min-height: $heigth--main;
  }

  @include onTablet {
    padding-bottom: 164px;
  }

  @include onDesktop {
    padding-bottom: 180px;
  }
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 41px;

  letter-spacing: -0.01em;

  color: var(--white-color);

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
  }
}

h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;

  color: var(--white-color);

  @include onTablet {
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
  }
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: var(--white-color);

  @include onTablet {
    font-weight: 800;
    font-size: 22px;
    line-height: 140%;
  }
}

h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: var(--white-color);

  @include onTablet {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
}
