@import '../../styles/variables.scss';
@import '../../styles/utils/mixins';

.searchLine {
  display: flex;
  align-items: center;
  padding: 14px;
  height: 48px;
  border-left: 1px solid var(--elements-color);

  @include onTablet {
    height: 50px;
  }

  @include onDesktop {
    padding: 25px;
    height: 66px;
  }

  &__container {
    position: relative;

    &-input {
      font-family: inherit;
      padding: 6px 30px 6px 6px;
      margin: -6px;
      width: 200px;
      color: var(--white-color);
      letter-spacing: 0.07em;
      background-color: var(--surface1-color);
      border: none;
      outline: none;
      z-index: 0;

      &:focus {
        border: none;
        outline: none;
      }
    }

    &-image {
      position: absolute;
      top: 4px;
      right: 4px;
      transition: all 0.3s;
      cursor: pointer;
    }
  }

  &__image {
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 10;

    &-position {
      margin-right: 20px;
    }
  }
}
