@import '../../styles/variables.scss';

.btn__add-to {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $accent-color;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: $white-color;
  text-decoration: none;

  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    background: $hover-color;
  }

  &--added {
    background: $surface2-color;
  }
}
