@import '../../styles/variables.scss';

.btn__add-to {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: var(--cart-text);
  text-decoration: none;

  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    background: var(--hover-color);
    color: var(--cart-text-active);
  }

  &--added {
    color: var(--cart-text-active);
    background: var(--surface2-color);
    є
  }
}
