@import '../../styles/utils/mixins';
@import '../../styles/variables.scss';

.accessories {
  &__links {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: var(--secondary-color);
  }

  &__arrow {
    margin-right: 14px;
    @include square(14px);
  }
}
