@import '../../styles/variables.scss';
@import '../../styles/utils/mixins';

.btn__add {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $accent-color;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: $white-color;
  text-decoration: none;

  border: none;
  cursor: pointer;

  transition: background 0.3s ease;

  &:hover {
    background: $hover-color;
  }

  &--clicked {
    background: $surface2-color;
  }

  &-shop {
    font-size: 24px;
    padding: 40px 100px;

    @include onTablet {
      padding: 0;
    }
  }
}

.title {
  margin-bottom: 32px;
}

.backLink {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  margin-bottom: 16px;

  color: $secondary-color;

  &:hover {
    color: $white-color;
  }

  &__image {
    margin-right: 10px;
  }
}

.basket {
  display: flex;
  flex-direction: column;
  font-family: 'Mont';
  font-style: normal;
  color: $white-color;

  @include onDesktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    margin: 20px 0 20px;

    @include onTablet {
      margin: 100px 0 40px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 206px;
    padding: 24px;
    border: 1px solid $elements-color;

    @include onDesktop {
      width: 368px;
    }

    &-price {
      font-weight: 800;
      font-size: 32px;
      line-height: 41px;
      margin-bottom: 10px;

      letter-spacing: -0.01em;
    }

    &-description {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      width: 100%;
      margin-bottom: 16px;
      padding-bottom: 16px;
      text-align: center;

      color: $secondary-color;
      border-bottom: 1px solid $elements-color;

      @include onDesktop {
        margin-bottom: 24px;
        padding-bottom: 24px;
      }
    }
  }
}
