.header {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: var(--black-color);
  border-bottom: solid 1px var(--elements-color);

  &__content {
    @include top-actions;
  }

  &__buying-section {
    display: flex;
  }

  &__nav {
    @include top-actions;
  }

  &__menu-button {
    background-color: var(--black-color);
    border: none;

    cursor: pointer;
  }

  &__case {
    border-left: solid 1px var(--elements-color);
    flex-shrink: 0;
    padding: 17px;

    @include onDesktop {
      padding: 25px;
    }

    &--is-active {
    position: relative;
      
    }

    &--is-active::after {
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: '';
      background-color: var(--white-color);
      height: 4px;
      display: block;
    }
  }

  &__menu-opener_image {
    display: block;
    @include square(14px);

    @include onDesktop {
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;
      @include square(16px);
    }

    &--is-active::after {
      bottom: 0;
      width: 100%;
      position: absolute;
      content: '';
      background-color: var(--white-color);
      height: 4px;
      display: block;
    }
  }

  &__count-position {
    position: relative;
  }

  &__shoping-bag-count {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-family: 'Mont';
    font-size: 9px;
    line-height: 11px;
    color: var(--white-color);

    @include square(14px);
    padding: 3px;

    background-color: var(--red-color);
    border: var(--black-color) 1px solid;
    border-radius: 50%;

    position: absolute;
    @include squareForPosition(7.5px);
  }
}

.logo {
  position: relative;
  margin-left: 16px;

  @include onTablet {
    margin-left: 0;
  }

  &__image {
    position: relative;
    width: 64px;

    @include onDesktop {
      width: 80px;
      margin-left: 24px;
    }
  }

  &__ok {
    position: absolute;
    width: 9px;
    height: 12px;
    top: -8px;
    right: 23px;

    @include onDesktop {
      width: 11px;
      height: 15px;
      top: -13px;
      right: 29px;
    }
  }
}

.nav {
  &__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 32px;
    list-style: none;
    padding: 0 17px;
    margin: 0;
  }

  &__item {
    margin-right: 32px;

    &:not(:first-child) {
      @include onDesktop {
        margin-right: 64px;
      }
    }
  }

  &__link {
    position: relative;
    font-family: 'Mont', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 11px;
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding: 15px 0;

    @include onDesktop {
      padding: 24px 0;
    }

    &:hover {
      color: var(--white-color);
    }

    &--is-active {
      color: var(--white-color);
    }

    &--is-active::after {
      bottom: 0;
      width: 100%;
      position: absolute;
      content: '';
      background-color: var(--white-color);
      height: 4px;
      display: block;
    }
  }
}

.searchInput {
  background: none;
  color: var(--white-color);
  width: 170px;
  height: 30px;
  &::placeholder {
    color: rgba(240, 248, 255, 0.36);
  }
}