@import '../../styles/variables.scss';
@import '../../styles/utils/mixins';

.menu {
  position: fixed;
  top: 49px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 300;
  background-color: $black-color;
  padding: 32px 0 0;
  margin: 0 auto;

  &__content {
    margin: 0 auto;

    &-list {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: flex;
      color: $secondary-color;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      font-size: 12px;
      font-weight: 800;
      line-height: 11px;
      letter-spacing: 0.04em;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        transition: 0.3s;
        width: max-content;
        text-transform: uppercase;

        &::after {
          content: ' ';
          margin-top: 5px;
          width: 100%;
          height: 2px;
          transition: 0.3s;
          background: transparent;
        }

        &:hover {
          color: $white-color;
          cursor: pointer;

          &::after {
            background-color: $white-color;
          }
        }
      }
    }
  }

  & .nav__link {
    padding: 6px 0;
  }

  &__footer {
    bottom: 0;
    height: max-content;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  &__footer-button {
    position: relative;
  }

  &__footer-count {
    top: -5px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-top: 1px $elements-color solid;
    border-bottom: 2px transparent solid;
    transition: 0.3s;

    &-url {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &:hover {
      border-bottom: 2px $white-color solid;
    }

    &.likeButton {
      background-color: transparent;
      border-right: 1px $elements-color solid;
    }

    &.cardButton {
      background-color: transparent;
    }
  }
}
