@import '../../../styles/variables.scss';
@import '../../../styles/utils/mixins';

.arrow-rigth {
  box-sizing: border-box;
  background-image: url(../../../icons/strokeRigth.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--surface2-color);

  height: 32px;
  width: 32px;
  cursor: pointer;

  color: white;
  transition: background-color 0.2s;

  &--light {
    background-image: url(../../../icons/blackArrowRight.svg);
  }

  &:hover {
    background-color: var(--icons-color);
  }

  &--disabled {
    background-image: url(../../../icons/strokeRigthDisabled.svg);
    background-color: transparent;
    border: 1px solid var(--elements-color);

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }
}
