@import './styles/variables.scss';
@import './styles/normalize.scss';
@import './styles/utils/mixins.scss';
@import './styles/utils/animations';
@import './styles/utils/reset';
@import './styles/blocks/grid.scss';

@import './components/HomePage/HomePage.scss';
@import './components/AccessoriesPage/accessories.scss';
@import './components/FavouritesPage/FavouritesPage.scss';
@import './components/ItemPageScelet/itemPageScelet.scss';
@import './components/PhonesPage/PhonesPage.scss';
@import './components/SearchPage/SearchPage.scss';
@import './components/SliderProductPage/SliderProductPage.scss';
@import './components/TabletsPage/tablets.scss';
@import './components/Footer/Footer.scss';
@import './components/Header/header.scss';
@import './components/AddToCartButton/add_to_cart_button.scss';
@import './components/AddToFavouriteButton/add_to_favourite_button.scss';
@import './components/AproovedBox/AproovedBox.scss';
@import './components/Arrows/ArrowLeft/ArrowLeft.scss';
@import './components/Arrows/ArrowRight/ArrowRight.scss';
@import './components/BackToTop/BackToTop.scss';
@import './components/BasketCard/BasketCard.scss';
@import './components/BigSlider/BigSlider.scss';
@import './components/BurgerMenu/BurgerMenu.scss';
@import './components/Button/button.scss';
@import './components/CategoryCard/category_card.scss';
@import './components/Container/Container.scss';
@import './components/DropDown/DropDown.scss';
@import './components/DynamickBackToTopBtn/DynamickBackToTopBtn.scss';
@import './components/ItemCard/itemCard.scss';
@import './components/LinkLine/LinkLine.scss';
@import './components/Loader/Loader.scss';
@import './components/MenuToggler/MenuToggler.scss';
@import './components/PageNotFound/PageNotFound.scss';
@import './components/Pagination/Pagination.scss';
@import './components/PriceSlider/PriceSlider.scss';
@import './components/ProductCard/product_card.scss';
@import './components/ProductCardSkeleton/ProductCardSkeleton.scss';
@import './components/SearchLine/SearchLine.scss';
@import './components/ShopBy/shop_by.scss';
@import './components/ShoppingBasket/ShoppingBasket.scss';
@import './components/Slider/Slider.scss';


.main {
  padding-top: 24px;

  transition: background-color 0.3s;

  @include onTablet {
    padding-top: 32px;
  }

  @include onDesktop {
    padding-top: 56px;
  }

  &--menu-open {
    padding-top: 73px;
  }
}
