@import '../../styles/variables.scss';

.btn__fav {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  background: $surface2-color;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    background: $icons-color;
  }

  &--added {
    background: $surface1-color;
    border: 1px solid $elements-color;
  }
}