@import '../../styles/variables.scss';
@import '../../styles/utils/mixins';

.BigSlider {
  display: flex;
  justify-content: center;
  width: 100%;

  &__item {
    display: flex;
    justify-content: center;
    outline: none;
  }

  &__image {
    order: 3;
    height: 100%;
    width: 100%;

    @media (max-width: 640px) {
      content: url('../../images/header/headerPhonePic14Pro.png');
      object-fit: cover;
    }

    @include onTablet {
      width: 100%;
    }
  }

  .slick-list {
    width: 100%;
    border-radius: 10px;

    @include onTablet {
      width: 84%;
    }
  }

  .slick-slider {
    width: 100%;
    display: grid;
    flex-direction: column;
    justify-items: center;
  }

  .dot {
    display: flex !important;
    gap: 14px;
    padding: 0;
    justify-content: center;
    align-items: center;

    & li {
      list-style: none;
    }

    & button {
      font-size: 0;
      background-color: $elements-color;
      width: 14px;
      height: 4px;
      border: none;
    }
  }

  .dot .slick-active button {
    background-color: $white-color;
  }

  .slick-next {
    display: block;
    grid-row-end: 2;
    height: 100%;
    order: 2;
    right: 3%;

    &:before {
      display: none;
    }
  }

  .slick-prev {
    order: 1;
    left: 3%;
    grid-row-end: 2;

    &:before {
      display: none;
    }
  }

  .slick-arrow {
    height: 100%;
    width: 32px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid $elements-color;

    &:hover {
      border: 1px solid $elements-color;
      background-color: $surface2-color;

      & img {
        filter: brightness(14);
      }
    }
  }
}
