@import '../../styles/utils/mixins';

.slider {
  position: relative;

  &__name {
    max-width: 70%;
    display: block;
    margin-bottom: 24px;
  }

  &__loader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__item {
    height: 100%;
  }

  &__container {
    width: 100%;

    .slick-prev {
      order: 3;
      left: calc(100% - 80px);
      display: block;
      justify-content: center;
    }

    .slick-arrow {
      order: 2;
      position: absolute;
      display: flex !important;
      height: 32px;
      align-items: center;
      justify-content: center;
      width: 32px;
      border: 1px solid #3b3e4a;
      transition: background-color 0.3s;
      top: -55px;

      @media (min-width: 340px) {
        top: -40px;
      }
    }

    .slick-next:before, .slick-prev:before {
      display: none;
    }

    .slick-next:hover, .slick-prev:hover {
      background: #323542;

      & img {
        filter: brightness(4.25);
      }
    }

    .slick-next {
      display: flex;
      width: 32px;
      right: 0px;
    }

    .slick-track {
      display: grid;
      grid-template-columns: repeat(auto-fit, 212px);
      grid-auto-flow: column dense;
      gap: 16px;


      @include onTablet {
        grid-template-columns: repeat(auto-fit, 237px);
        gap: 24px;
      }

      @include onDesktop {
        grid-template-columns: repeat(auto-fit, 272px);
        gap: 32px;
      }
    }

    .slick-slide > div {
      height: 100%;
    }

    .slick-list {
      margin: 0 -16px;
      padding-left: 16px;

      @include onTablet {
        margin: 0 -24px;
        padding-left: 24px;
      }

      @include onDesktop {
        margin: 0 -32px;
        padding-left: 32px;
      }

      @media (min-width: 1200px) {
        margin: 0;
        padding: 0;
      }
    }
  }
}
