@import '../../styles/utils/mixins';

.slider {
  position: relative;

  @include onTablet {
    height: 670px;
  }

  &__name {
    max-width: 70%;
    display: block;
    margin-bottom: 24px;
  }

  &__loader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__container {
    width: 100%;

    .slick-slider {
      display: flex;
      width: 100%;
    }

    .slick-list {
      // padding: 0;
    }

    .slick-prev {
      order: 3;
      position: relative;
      top: -39px;
      left: calc(100% - 80px);
      display: flex;
      display: block;
      justify-content: center;
    }

    .slick-arrow {
      order: 2;
      position: absolute;
      display: flex !important;
      height: 32px;
      align-items: center;
      justify-content: center;
      width: 32px;
      background-color: #2a2932;
      border: 1px solid #3b3e4a;
    }

    .slick-next:before {
      display: none;
    }

    .slick-next:focus {
      background-color: red;
    }

    .slick-next:hover {
      background: #323542;
      color: #f1f2f9;

      & img {
        filter: brightness(4.25);
      }
    }

    .slick-prev:before {
      display: none;
    }

    .slick-prev:hover {
      background: #323542;

      & img {
        filter: brightness(4.25);
      }
    }

    .slick-prev:focus {
      background-color: red;
    }

    .slick-arrow .slick-next {
      display: flex;
      width: 32px;
      right: 0px;
    }

    .slick-next {
      right: 0px;
      top: -39px;
    }

    .slick-track {
      display: flex;
      gap: 16px;
    }
  }
}
