@import '../../styles/utils/mixins';

.slider {
  display: flex;
  height: 670px;
  align-items: center;
  position: relative;

  @include onTablet {
    height: 670px;
  }

  &__name {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 70%;
    display: block;
  }

  &__item {
    margin-right: 30px;
  }

  &__loader {
    margin: 0 auto;
  }

  &__container {
    box-sizing: border-box;
    width: 100%;

    .slick-slider {
      display: flex;
      width: 100%;
    }
  
    .slick-list {
      padding: 0;
    }
  
    .slick-prev {
      order: 3;
      position: relative;
      top: -66px;
      left: calc(100% - 80px);
      display: flex;
      display: block;
      justify-content: center;
    }
  
    .slick-arrow {
      order: 2;
      position: absolute;
      display: flex !important;
      height: 32px;
      align-items: center;
      justify-content: center;
      width: 32px;
      background-color: #2a2932;
      border: 1px solid #3b3e4a;
    }
  
    .slick-next:before {
      display: none;
    }
  
    .slick-next:focus {
      background-color: red;
    }
  
    .slick-next:hover {
      background: #323542;
      color: #f1f2f9;
  
      & img {
        filter: brightness(4.25);
      }
    }
  
    .slick-prev:before {
      display: none;
    }
  
    .slick-prev:hover {
      background: #323542;
  
      & img {
        filter: brightness(4.25);
      }
    }
  
    .slick-prev:focus {
      background-color: red;
    }
  
    .slick-arrow .slick-next {
      display: flex;
      width: 32px;
      right: 0px;
    }
  
    .slick-next {
      right: 0px;
      top: -66px;
    }
  
    .slick-track {
      opacity: 1;
      transform: translate3d(-506px, 0px, 0px);
      width: 1000000px !important;
    }
  } 
}
